<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    INTERNET    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    LOCALIZACAO -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_SICORE"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
            Pegar chave API
         -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}"/>
        <activity
            android:name=".activity.Mapa.Mapa"
            android:exported="false" />
        <activity
            android:name=".activity.temp.TELAMOSTRARRESULTADO"
            android:exported="false" />
        <activity
            android:name=".activity.carregamento.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cadastro.FormCadastro2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recuperarConta.FormRedefinePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recuperarConta.FormRecoveryCode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recuperarConta.FormForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cadastro.FormCadastro1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cadastro.FormCadastro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.FormLogin"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>